<h1>other hackclubbers</h1>
<div class="buttons">
<a href="http://aconlin.com/">
  <img
    alt="Acon's site"
    src="/assets/acon-gets-a-button-animated.gif"
    width="88"
    height="31"
  />
</a>
<a href="https://gideon.sh/88x31.gif">
  <img
    alt="Gideon's site"
    src="/assets/neocat.gif"
    width="88"
    height="31"
  />
</a>
<a href="http://bomberfish.ca/">
  <img
    alt="Bomberfish's site"
    src="https://bomberfish.ca/button.gif"
    width="88"
    height="31"
  />
</a>
<a href="http://codingcorner.dev/">
  <img
    alt="Coding Corner"
    src="https://codingcorner.dev/buttons/codingcorner.png"
    width="88"
    height="31"
  />
</a>
<a href="https://valen.zip/">
  <img
    alt="Valen's site"
    src="https://www.valen.zip/button-bw.gif"
    width="88"
    height="31"
  />
</a>
<a href="https://os.slitrostudio.me/">
  <img
    alt="Slitro Studio"
    src="https://site.slitrostudio.me/Slitro2.png"
    width="88"
    height="31"
  />
</a>
</div>
<br>
<h1>random buttons</h1>
<div class="buttons">
    <img src="/assets/anybrow.gif" alt="anybrow"/>
    <img src="/assets/banner2.gif" alt="banner2"/>
    <img src="/assets/internetprivacy.gif" alt="internet privacy"/>
    <img src="/assets/m-lol.gif" alt="m-lol"/>
    <img src="/assets/nobelief.gif" alt="nobelief"/>
    <img src="/assets/nocookie.gif" alt="nocookie"/>
    <img src="/assets/pikachu.gif" alt="pikachu"/>
    <img src="/assets/piracy.gif" alt="piracy"/>
    <img src="/assets/play_ctf.gif" alt="play ctf"/>
    <img src="/assets/subculture8831.gif" alt="sub culture"/>
    <img src="/assets/y2kid.gif" alt="y2kid"/>
</div>