---
import Layout from "../layouts/Layout.astro";
import Redirects from "../pages/Redirects.astro";
import Contacts from "../pages/contacts.astro";
import { execSync } from "child_process";
const commitHash = execSync('git rev-parse --short HEAD').toString().trim();
const commitDateRaw = execSync('git log -1 --format=%cd --date=short').toString().trim();

const date = new Date(commitDateRaw);
const commitDate = date.toLocaleDateString('en-US', { 
	year: 'numeric',
	month: 'long', 
	day: 'numeric' 
});
---

<header>contact me!</header>

<Layout title="contact">
</Layout>

<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
		<Redirects />
	</div>
	<br>
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center flex flex-col text-lg text-white">
		<Contacts />
	</div>
</div>
<footer class="text-center"><span class="lowercase">by sarvesh, Last updated: {commitDate} (commit {commitHash})</span></footer>