---
import Layout from '../layouts/Layout.astro';
import Redirects from '../pages/Redirects.astro';
import About from '../pages/about.astro';
---

<header>hey, im sarvesh!</header>

<Layout title="home">
<div class="container">
	<h1 class="text-center">welcome to my home!</h1>
</div>
</Layout>

<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
		<Redirects />
	</div>
	<br>
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center flex flex-col text-lg text-white">
		<About />
	</div>
</div>

<footer class="text-center">made with <3 by sarvesh! <a href="https://github.com/tarfish/personal-site" target="_blank">(repo)</a></footer>