---
import Layout from "../layouts/Layout.astro";
import Redirects from "../pages/Redirects.astro";
const res = await fetch('https://api.github.com/users/tarfish/repos');
const repos = await res.json();
---

<header>my projects!</header>

<Layout title="projects">
</Layout>

<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
		<Redirects />
	</div>
	<br>
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center flex flex-col text-lg text-white">
		<p>you can click on these links to be redirected to the github repo :o</p>
		{repos.map((repo) => (
			<div class="mb-6">
				<h2 class="text-2xl"><a href={repo.html_url} target="_blank">{repo.name}</a></h2>
				<p class="mt-2">{repo.description}</p>
			</div>
		))}
	</div>
</div>

<footer class="text-center">made with &hearts; by sarvesh! <a href="https://github.com/tarfish/personal-site" target="_blank">(repo)</a></footer>